﻿@using MinPro334_GroupA.Services;

@inject AuthService authService
@{
    int IdRole = @Context.Session.GetInt32("IdRole") ?? 0; // Menggunakan ?? 0 untuk mengatasi null jika sesi tidak ada
    string FullName = @Context.Session.GetString("FullName") ?? "";
    string ImagePath = @Context.Session.GetString("ImagePath") ?? "";

}
<!--  Header Start -->
<header class="app-header">
    <input type="hidden" class="idrole" value="@IdRole"/>
    <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
                <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                    <i class="ti ti-menu-2"></i>
                </a>
            </li>
            <li class="nav-item nav-link">
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a asp-action="Index" class="text-nowrap logo-img">
                        @if (IdRole == 0)
                        {
                            <img src="~/Modernize-1.0.0/src/assets/images/logos/med.png" width="200" alt="" />
                        }
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
            </li>
        </ul>
        <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                <li class="nav-item dropdown">
                    @{
                        if (IdRole != 0)
                        {
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                    <span>Hello,</span> <span class="text-dark">@FullName</span>
                                <img src="~/@ImagePath" alt="" width="35" height="35" class="rounded-circle">
                            </a>
                        }
                        else
                        {
                           
                            <button id="btn_daftar" class="btn btn-primary ml-3">Daftar</button>

                            <button id="btn_login" class="btn btn-primary">Login</button>
                        }
                    }
                   @*  <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img src="~/Modernize-1.0.0/src/assets/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                    </a> *@
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                        <div class="message-body">
                            <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                <i class="ti ti-user fs-6"></i>
                                <p class="mb-0 fs-3">My Profile</p>
                            </a>
                            <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                <i class="ti ti-mail fs-6"></i>
                                <p class="mb-0 fs-3">My Account</p>
                            </a>
                            <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                <i class="ti ti-list-check fs-6"></i>
                                <p class="mb-0 fs-3">My Task</p>
                            </a>
                            <a asp-controller="Auth" asp-action="Logout" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!--  Header End -->

<script>
    $("#btn_login").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("Auth/Login")
        $("#modal_judul").empty()
        $("#modal_judul").text("Login")
        $(".modal-dialog").removeClass("modal-xl")
        $("#my_modal").modal("show")


    })

    $("#btn_daftar").click(function(){
        $("#modal_body").empty()
        $("#modal_body").load("Daftar/Register")

        $("#modal_judul").empty()
        $("#modal_judul").text("Daftar")

        $("#my_modal").modal("show")
        $(".modal-dialog").addClass("modal-xl")
        $(".modal-dialog").removeClass("modal-xl")

    })

   
    var idrole = $(".idrole").val()
    if (idrole == 0) {
        $(".app-header").attr("style", "margin-left:-130px")
    }

</script>