﻿@{
    var UsedFor = "LupaPassword";
}
<div class="card">
    <div class="card-body">
        <h6>Masukkan kode OTP yang dikirimkan ke Email anda</h6>


        <form class="mt-4" id="form_OTP">
            <input type="hidden" class="form-control" id="UsedFor" name="UsedFor" value="@UsedFor" />

            <input type="hidden" class="form-control" id="Email" name="Email" value="@ViewBag.Email" />

            <div class="mb-3">
                <input type="text" class="form-control" id="Token" name="Token" placeholder="- - - - - -">
                <span id="validate_token" class="text-danger"></span>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block">Konfirmasi OTP</button>
            </div>

        </form>

        <div class="mb-3 text-center">
            <div>Kirim ulang kode dalam : <span class="countdown"></span></div>
            <button class="btn btn-outline-link btn_kirimulang" hidden id="btn_resendOTP">Kirim Ulang Kode</button>
        </div>

    </div>
</div>


<script>
    $("#form_OTP").validate({
        errorClass: "text-danger",
        rules: {
            Token: {
                required: true,
            }
        },
        messages: {
            Email: {
                required: "Harap masukkan kode OTP yang telah dikirimkan",
            }
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            var email = $("#Email").val()
            var token = $("#Token").val()

            $.ajax({
                url: "/Daftar/CheckTokenIsExpired",
                type: "post",
                data: { email: email, token: token },
                dataType: "json",
                success: function (respon) {
                    var data = respon.dataRespon
                    if (data.success) {
                        $("#validate_token").text(data.message)
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }

            })
        }
    })

    function fungsiSubmit(dataParam) {
        var email = $("#Email").val()
        var token = $("#Token").val()

        $.ajax({
            url: "/Daftar/CheckTokenByEmail",
            type: "get",
            data: { email: email, token: token },
            dataType: "json",
            success: function (respon) {

                if (respon) {
                    toastr.success(
                        'silahkan lanjut ke proses selanjutnya',
                        'Kode OTP Sukses',
                    )

                    $("#modal_judul").text("Set Password")
                    $("#modal_body").empty()
                    $("#modal_body").load("Daftar/SetPasswordLupaPassword?email=" + email)
                    //$("#modal_body").load("Daftar/SetPassword", {email : email, id : id})
                } else {
                    alert("Kode OTP gagal")
                }
                //else {
                //    toastr.errorClass(data.message)
                //}

            }
        })
    }

    var timer2 = "00:05"
    var interval = setInterval(function () {

        var timer = timer2.split(':');
        //by parsing integer, I avoid all extra string processing
        var minutes = parseInt(timer[0], 10)
        var seconds = parseInt(timer[1], 10)
        --seconds;
        minutes = (seconds < 0) ? --minutes : minutes
        if (minutes < 0) clearInterval(interval)
        seconds = (seconds < 0) ? 59 : seconds;
        seconds = (seconds < 10) ? '0' + seconds : seconds
        //minutes = (minutes < 10) ?  minutes : minutes;
        $('.countdown').html(minutes + ':' + seconds)
        timer2 = minutes + ':' + seconds
        if (minutes == -1) {
            $(".countdown").html("0:00")
            $(".btn_kirimulang").removeAttr("hidden")
        }
    }, 1000)

    $(".btn_kirimulang").click(function () {
        reSendOTP()

    })

    function reSendOTP() {
        var email = $("#Email").val()
        var usedFor = $("#UsedFor").val()

        $.ajax({
            url: "/Daftar/GenerateOTP",
            type: "post",
            data: { email: email, usedFor: usedFor },
            dataType: "json",
            beforeSend: function () {
                $("#loader_status_name").text("")
                $("#loader_status_name").text("Mengirim ulang kode OTP...")
                $("#modal_load").modal("show")
            },
            success: function (respon) {
                $("#modal_load").modal("hide")

                toastr.success(
                    'Silahkan cek email anda',
                    'Kode Terkirim',
                )

                var data = respon.dataRespon
                if (data.success) {
                    $("#modal_body").empty()
                    $("#modal_body").load("Daftar/KonfirmasiOTPLupaPassword?email=" + email)
                }
                //else {
                //    toastr.errorClass(data.message)
                //}

            }
        })
    }


</script>
