﻿@{
    var UsedFor = "Pendaftaran";
}
<div class="card">
    <div class="card-body">
        <h6>Silahkan masukkan email anda.</h6>
        <h6>Kami akan  melakukan pengecekan</h6>

        <form class="mt-4" id="form_daftar">  
            <input type="hidden" class="form-control" id="UsedFor" name="UsedFor" value="@UsedFor"/>

            <div class="mb-3">
                <label for="Email" class="form-label">Email*</label>
                <input type="email" class="form-control" id="Email" name="Email" placeholder="EmailAnda@mail.com" oninput="resetValidate()">
                <span id="validate_email" class="text-danger"></span>
                
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block" id="btn_oke">Kirim OTP</button>
            </div>
            
        </form>
        
    </div>
</div>

<script>
    $("#form_daftar").validate({
        errorClass: "text-danger",
        rules: {
            Email: {
                requ  ired: true,
                email: true,
            }
        },
        messages: {
            Email: {
                required: "Harap masukkan Email anda",
                email: "Harap masukkan Email anda",
            }
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            var email = $("#Email").val()
            $.ajax({
                url: "/Daftar/CheckEmailIsExist",
                type: "get",
                data: { email: email },
                dataType: "json",
                success: function (respon) {
                    $("#validate_email").text("")
                    $("#btn_oke").addClass("disabled")
                    if (respon) {
                        $("#validate_email").text("Email is already exists")
                        $("#btn_oke").removeClass("disabled")
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }

            })
        }
    })

    function fungsiSubmit(dataParam) {
        var email = $("#Email").val()
        $.ajax({ 
            url: "/Daftar/GenerateOTP",
            type: "post",
            data: dataParam,
            dataType: "json",
            beforeSend: function(){
                $("#loader_status_name").text("")
                $("#loader_status_name").text("Mengirim kode OTP...")
                $("#modal_load").modal("show")
            },
            success: function (respon) {
                $("#modal_load").modal("hide")
               
                toastr.success(
                    'Silahkan cek email anda',
                    'Kode Terkirim',
                )

                var data = respon.dataRespon
                if (data.success) {
                    $("#modal_judul").text("Verifikasi Email")
                    $("#modal_body").empty()
                    $("#modal_body").load("Daftar/KonfirmasiOTP?email=" + email)
                }
            }
        })
    }

    function resetValidate(){
        $("#validate_email").text("")
    }


</script>