﻿<div class="card">
    <div class="card-body">
        <h6>Masukkan password untuk Email anda</h6>

        <form class="mt-4" id="form_SetPassword">
            <div class="mb-3">
                <input type="hidden" class="form-control" id="Email" name="Email" value="@ViewBag.Email">
            </div>

            <div class="mb-3">
                <label for="Password" class="form-label">Password*</label>
                <input type="password" class="form-control" id="Password" name="Password" oninput="check_valid()" />
                <span id="validate_Password" class="text-danger"></span>

            </div>

            <div class="mb-3">
                <label for="Password_rpt" class="form-label">Masukkan ulang Password*</label>
                <input type="password" class="form-control" id="re_Password" name="re_Password"/>
            </div>

            <div id="check_password" style="color: red">
                <p id="panjang">*Password minimal 8 karakter</p>
                <p id="huruf_besar">*Password harus mengandung huruf besar</p>
                <p id="huruf_kecil">*Password harus mengandung huruf kecil</p>
                <p id="angka">*Password harus mengandung angka</p>
                <p id="simbol">*Password harus mengandung simbol ( @@#$%& )</p>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block" >Set Password</button>
            </div>

        </form>
        
    </div>
</div>

<script>
    $("#form_SetPassword").validate({
        errorClass: "text-danger",
        rules: {
            Password: {
                required: true,
                minlength : 8,
                strong_password: true,
            },
            re_Password: {
                equalTo: "#Password",
                required: true,
            }
        },
        messages: {
            Password: {
                required: "*Harap isi password",
                minlength: "Password minimal 8 karakter",
            },
            re_Password: {
                equalTo: "*Password tidak sama",
                required: "*Harap isi password",
            }
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            var email = $("#Email").val()
            var password = $("#Password").val()

            $("#modal_judul").text("Daftar")
            $("#modal_body").empty()
            $("#modal_body").load("Daftar/SignUp", {email : email, password : password})
        }
    })

    $.validator.addMethod("strong_password", function (value, element) {
        let password = value;
        if (!(/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@@#$%&])(.{8,}$)/.test(password))) {
        //if (!(/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@@#$%&])/.test(password))) {
            return false;
        }
        return true;
    }, function (value, element) {
        let password = $(element).val();
        if (!(/^(.{8,}$)/.test(password))) {
            return 'Password tidak valid';
        }
        if (!(/^(?=.*[A-Z])/.test(password))) {
            return 'Password tidak valid';
        }
        else if (!(/^(?=.*[a-z])/.test(password))) {
            return 'Password tidak valid';
        }
        else if (!(/^(?=.*[0-9])/.test(password))) {
            return 'Password tidak valid';
        }
        else if (!(/^(?=.*[@@#$%&])/.test(password))) {
            return "Password tidak valid";
        }
        return false;
    });


    function check_valid() {
        var password_contain = $("#Password").val()

        var panjang = new RegExp(/^(.{8,}$)/)
        var huruf_besar = new RegExp(/^(?=.*[A-Z])/)
        var huruf_kecil = new RegExp(/^(?=.*[a-z])/)
        var angka = new RegExp(/^(?=.*[0-9])/)
        var simbol = new RegExp(/^(?=.*[@@#$%&])/)

        if (panjang.test(password_contain)) {
            $("#panjang").attr("hidden", true)
        } else {
            $("#panjang").attr("hidden", false)
        }

        if (huruf_besar.test(password_contain)) {
            $("#huruf_besar").attr("hidden", true)
        } else {
            $("#huruf_besar").attr("hidden", false)
        }

        if (huruf_kecil.test(password_contain)) {
            $("#huruf_kecil").attr("hidden", true)
        } else {
            $("#huruf_kecil").attr("hidden", false)
        }

        if (angka.test(password_contain)) {
            $("#angka").attr("hidden", true)
        } else {
            $("#angka").attr("hidden", false)
        }

        if (simbol.test(password_contain)) {
            $("#simbol").attr("hidden", true)
        } else {
            $("#simbol").attr("hidden", false)
        }
    }

   
</script>