﻿@model Friend

@{
    ViewData["Title"] = "Delete Friend";
}

<div>Are you sure to delete data @Model.Name ?</div>

<form action="Delete" method="post">
    <input type="hidden" id="Id" name="Id" value="@Model.Id"/>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-light" asp-controller="Friend" asp-action="Index">Back To List</a>
    </div>
</form>
