﻿@model Friend

@{
    ViewData["Title"] = "Edit Friend";
}

<div class="h4 mb-4">Edit Form Friend</div>

<form asp-action="Edit" method="post">
    @*tidak menggunakan asp-controller karna create sudah berada didalam folder controler friend(liat samping)*@
    <div class="mb-4 row">
        <label for="Id" class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Id" name="Id" value="@Model.Id" readonly>
        </div>
    </div>

    <div class="mb-4 row">
        <label for="Name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
        </div>
    </div>

    <div class="mb-4 row">
        <label for="Address" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="Adddress" name="Address">@Model.Address</textarea>
        </div>
    </div>

    <div class="mb-4 row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-light" asp-controller="Friend" asp-action="Index">Back To List</a>
        </div>
    </div>
</form>