﻿
<div class="card">
    <div class="card-body">
        <form class="mt-4" id="form_createbank">

            <div class="mb-3">
                <label for="Name" class="form-label">Nama Bank*</label>
                <input type="text" class="form-control" id="Name" name="Name" oninput="checkbyname()" placeholder="Bank ...">
                <span id="validate_Namebank" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="VaCode" class="form-label">Kode VA*</label>
                <input type="text" class="form-control" id="VaCode" name="VaCode" oninput="checkbycode()" placeholder="1234567890">
                <span id="validate_codeva" class="text-danger"></span>
            </div>

            <div class="text-end">
                <a class ="btn btn-light" asp-controller="Bank" asp-action="Index">Batal</a>
                <button type="submit" class="btn btn-primary btn-block" id="btn_submit">Simpan</button>
            </div>

        </form>

    </div>
</div>

<script>

    $("#form_createbank").validate({
        errorClass: "text-danger",
        rules: {
            Name: "required",
            VaCode: {
                required: true,
                minlength: 10,
                maxlength: 10,
            }
        },
        messages: {
            Name: "Harap masukkan nama Bank",
            VaCode: {
                required: "Harap masukkan kode VA",
                minlength: "Kode terdiri dari 10 angka",
                maxlength: "Kode terdiri dari 10 angka",
            }
        },
        submitHandler: function (form) {
            //if (!checkbycode() && !checkbyname()){
                var dataForm = $(form).serialize()
                var name = $("#Name").val()
                var vacode = $("#VaCode").val()
                var id = 0
                $.ajax({
                    url: "/Bank/CheckNameCodeIsExist",
                    type: "get",
                    data: { name: name, vacode : vacode, id: id },
                    dataType: "json",
                    success: function (respon) {
                        if (respon) {
                            toastr.error(
                                'Pastikan data sudah benar',
                                'Data tidak valid',
                            )
                        }
                        else {
                            fungsiSubmit(dataForm)
                        }
                    }

                })
            //}
        }
    })

    function fungsiSubmit(dataParam) {
        $.ajax({
            url: "/Bank/Create",
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {

                    toastr.success(
                        'Nama bank berhasil ditambahkan',
                        'Tambah Bank berhasil',
                    )
                    $("#my_modal").modal("hide")


                    setTimeout(function () {
                        window.location.reload()
                    }, 1500)
                }
                else {
                    toastr.error(
                        'Gagal Menambahkan Bank',
                        'Error',
                    )
                }

            }
        })
    }



    function checkbyname(){
        $("#validate_Namebank").text("")

        var name = $("#Name").val()
        var id = 0

        $.ajax({
            url: "/Bank/CheckByName",
            type: "get",
            data: { name: name, id: id },
            dataType: "json",
            success: function (respon) {
                if (respon) {
                    $("#validate_Namebank").text("Nama Bank telah tersedia")
                    return true

                }
                else {
                    $("#validate_Namebank").text("")
                    return false

                }
            }
        })
    }

    function checkbycode(){
        $("#validate_codeva").text("")
        var vacode = $("#VaCode").val()
        var id = 0

        $.ajax({
            url: "/Bank/CheckByCode",
            type: "get",
            data: { vacode: vacode, id: id },
            dataType: "json",
            success: function (respon) {
                if (respon) {
                    $("#validate_codeva").text("Kode VA telah tersedia")
                    return true
                }
                else {
                    $("#validate_codeva").text("")
                    return false
                }
            }
        })
    }

</script>
