﻿<a href="~/Modernize-1.0.0/src/html/index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
    <img src="~/Modernize-1.0.0/src/assets/images/logos/med.png" width="180" alt="">
</a>
@* <p class="text-center">Your Social Campaigns</p> *@
<form id="form_login" method="post">
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" name="Email" id="Email" aria-describedby="emailHelp">
    </div>
    <div class="mb-4">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" name="Password" id="Password">
    </div>
    <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Masuk</button>
    <div class="d-flex align-items-center justify-content-center">
        <a class="text-primary fw-bold" id="btn_lupaPassword">Lupa Password?</a>
    </div>
    <p class="fs-4 mb-0 fw-bold text-center">atau</p>
    
</form>
    <div class="d-flex align-items-center justify-content-center">
        <p class="fs-4 mb-0 fw-bold">Belum punya akun?</p>
        <button class="text-primary fw-bold ms-2" id="btn_buatakun">Buat akun</button>
    </div>

<script>

    $("#form_login").validate({
        errorClass: "is-invalid text-danger",
        rules: {
            Email: {
                required: true,
                email: true,
            },
            Password:"required",
        },
        messages:{
            Email: {
                required: "Please fill email",
                email: "Please fill valid email address",
            },
            Password: "Please fill password",
        },
        submitHandler: function (form) {

            var email = $("#Email").val()
            var password = $("#Password").val()

            $.ajax({
                url: "/Auth/LoginSubmit",
                type: "post",
                data: {email: email, password: password},
                dataType: "json",
                success: function (respon) {
                    var data = respon.dataRespon

                    if (data.success) {
                        $("#my_modal").modal("hide")
                        Swal.fire(

                            'Login Berhasil',
                            data.message,
                            'success'
                        ).then(function () {
                            window.location.reload();
                        })
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'warning',
                            text: data.message
                        })
                    }

                }
            })
        }
    })

    $("#btn_buatakun").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("Auth/Register")

        $("#modal_judul").empty()
        $("#modal_judul").text("Daftar")

        $("#my_modal").modal("show")
        $(".modal-dialog").addClass("modal-xl")
        $(".modal-dialog").removeClass("modal-xl")
    })

    $("#btn_lupaPassword").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("Auth/LupaPassword")

        $("#modal_judul").empty()
        $("#modal_judul").text("Lupa Password")

        $("#my_modal").modal("show")
        $(".modal-dialog").addClass("modal-xl")
        $(".modal-dialog").removeClass("modal-xl")
    })

</script>