﻿@{
    var UsedFor = "Pendaftaran";
}
<div class="card">
    <div class="card-body">
        <h6>Silahkan masukkan email anda.</h6>
        <h6>Kami akan  melakukan pengecekan</h6>

        <form class="mt-4" id="form_daftar">
            <input type="hidden" class="form-control" id="UsedFor" name="UsedFor" value="@UsedFor" />

            <div class="mb-3">
                <label for="Email" class="form-label">Email*</label>
                <input type="email" class="form-control" id="Email" name="Email" placeholder="EmailAnda@mail.com">
                <span id="validate_email" class="text-danger"></span>

            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block" id="btn_oke">Kirim OTP</button>
            </div>

        </form>

    </div>
</div>

<script>
    $("#form_daftar").validate({
        errorClass: "text-danger",
        rules: {
            Email: {
                required: true,
                email: true,
            }
        },
        messages: {
            Email: {
                required: "Harap masukkan Email anda",
                email: "Harap masukkan Email anda",
            }
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            var email = $("#Email").val()
            $.ajax({
                url: "/Auth/CheckEmailIsExist",
                type: "get",
                data: { email: email },
                dataType: "json",
                success: function (respon) {
                    $("#btn_oke").addClass("disabled")
                    //$("#btn_oke").attr("disabled", true)
                    if (respon) {
                        $("#validate_email").text("Email is already exists")
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }

            })
        }
    })

    function fungsiSubmit(dataParam) {
        var email = $("#Email").val()
        $.ajax({
            url: "/Auth/GenerateOTP",
            type: "post",
            data: dataParam,
            dataType: "json",
            beforeSend: function () {
                $("#loader_status_name").text("Sending OTP...")
                $("#modal_load").modal("show")
            },
            success: function (respon) {
                $("#modal_load").modal("hide")
                var data = respon.dataRespon
                if (data.success) {
                    //alert("Kode OTP terkirim. Silahkan cek Email anda.")
                    $("#modal_judul").text("Verifikasi Email")
                    $("#modal_body").empty()
                    $("#modal_body").load("Auth/KonfirmasiOTP?email=" + email)
                }
                //else {
                //    toastr.errorClass(data.message)
                //}

            }
        })
    }



</script>