﻿<div class="card">
    <div class="card-body">
        <h6>Masukkan password untuk Email anda</h6>

        <form class="mt-4" id="form_SetPassword">
            <div class="mb-3">
                <input type="hidden" class="form-control" id="Email" name="Email" value="@ViewBag.Email">
            </div>

            <div class="mb-3">
                <label for="Password" class="form-label">Password*</label>
                <input type="password" class="form-control" id="Password" name="Password" />
                <span id="validate_Password" class="text-danger"></span>

            </div>

            <div class="mb-3">
                <label for="Password_rpt" class="form-label">Masukkan ulang Password*</label>
                <input type="password" class="form-control" id="re_Password" name="re_Password" />
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block">Daftar</button>
            </div>

        </form>

    </div>
</div>

<script>
    $("#form_SetPassword").validate({
        errorClass: "text-danger",
        rules: {
            Password: {
                required: true,
                strong_password: true,
            },
            re_Password: {
                equalTo: "#Password",
                required: true,
            }
        },
        messages: {
            Password: {
                required: "*Harap isi password",
            },
            re_Password: {
                equalTo: "*Password tidak sama",
                required: "*Harap isi password",
            }
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            var email = $("#Email").val()
            var password = $("#Password").val()

            $("#modal_judul").text("Daftar")
            $("#modal_body").empty()
            $("#modal_body").load("Auth/SignUp", { email: email, password: password })
        }
    })

    $.validator.addMethod("strong_password", function (value, element) {
        let password = value;
        if (!(/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@@#$%&])(.{8,20}$)/.test(password))) {
            return false;
        }
        return true;
    }, function (value, element) {
        let password = $(element).val();
        if (!(/^(.{8,20}$)/.test(password))) {
            return 'Password terdiri dari 8-20 karater';
        }
        else if (!(/^(?=.*[A-Z])/.test(password))) {
            return 'Password harus mengandung huruf besar';
        }
        else if (!(/^(?=.*[a-z])/.test(password))) {
            return 'Password harus mengandung huruf kecil';
        }
        else if (!(/^(?=.*[0-9])/.test(password))) {
            return 'Password harus mengandung angka';
        }
        else if (!(/^(?=.*[@@#$%&])/.test(password))) {
            return "Pasword harus mengandung karakter spesial (@@#$%&)";
        }
        return false;
    });


</script>