﻿<div class="card">
    <div class="card-body">
        <h6>Masukkan password untuk Email anda</h6>

        <form class="mt-4" id="form_CreateAccount">

            <input type="hidden" class="form-control" id="Email" name="Email" value="@ViewBag.Email">

            <input type="hidden" class="form-control" id="Password" name="Password" value="@ViewBag.Password">

            <div class="mb-3">
                <label for="FullName" class="form-label">Nama Lengkap*</label>
                <input type="text" class="form-control" id="FullName" name="FullName" />
                <span id="validate_Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="MobilePhone" class="form-label">Nomor HandPhone*</label>
                <input type="text" class="form-control" id="MobilePhone" name="MobilePhone" placeholder="081234567890" />
                <span id="validate_Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="RoleId" class="form-label">Daftar Sebagai*</label>
                <div class="col-sm-8">
                    @Html.DropDownList("RoleId",
                    new SelectList(ViewBag.listRole, "Id", "Name"),
                    "--Pilih--",
                    new {@class = "form-control"}
                    )
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block">Daftar</button>
            </div>

        </form>

    </div>
</div>

<script>
    $("#form_CreateAccount").validate({
        errorClass: "text-danger",
        rules: {
            FullName: {
                required: true,
            },
            MobilePhone: {
                required: true,
            },
            RoleId: {
                required: true,
            },
        },
        messages: {
            FullName: {
                required: "Harap masukkan nama lengkap",
            },
            MobilePhone: {
                required: "Harap masukkan nomor Handphone aktif anda",
            },
            RoleId: {
                required: "Harap pilih role",
            },
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            var fullname = $("#FullName").val()
            var mobilephone = $("#MobilePhone").val()
            var roleid = $("#RoleId").val()

            $.ajax({
                url: "/Auth/CreateAccount",
                type: "post",
                data: dataForm,
                dataType: "json",
                success: function (respon) {
                    var data = respon.dataRespon
                    if (data.success) {
                        // SET SESSION
                        alert("Create account sukses")
                        window.location.reload()
                    }
                    else {
                        alert("ada yang salah")
                    }
                }

            })
        }
    })
</script>

