﻿      <!--  Header Start -->
<header class="app-header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
                <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                    <i class="ti ti-menu-2"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                    <i class="ti ti-bell-ringing"></i>
                    <div class="notification bg-primary rounded-circle"></div>
                </a>
            </li>
        </ul>
        <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">

                <a id="btn_menubank" class="btn btn-primary" asp-controller="CaraPembayaran" asp-action="Index">Cara Pembayaran</a>
                <a id="btn_menubank" class="btn btn-primary" asp-controller="Bank" asp-action="Index">Menu Bank</a>

                <button id="btn_lupaPassword" class="btn btn-primary">Lupa Password</button>
                <button id="btn_daftar" class="btn btn-primary">Daftar</button>

                <a href="https://adminmart.com/product/modernize-free-bootstrap-admin-dashboard/" target="_blank" class="btn btn-primary">Download Free</a>
                <li class="nav-item dropdown">
                    <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img src="~/Modernize-1.0.0/src/assets/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                        <div class="message-body">
                            <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                <i class="ti ti-user fs-6"></i>
                                <p class="mb-0 fs-3">My Profile</p>
                            </a>
                            <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                <i class="ti ti-mail fs-6"></i>
                                <p class="mb-0 fs-3">My Account</p>
                            </a>
                            <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                <i class="ti ti-list-check fs-6"></i>
                                <p class="mb-0 fs-3">My Task</p>
                            </a>
                            <a href="./authentication-login.html" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!--  Header End -->

<script>
    $("#btn_daftar").click(function(){
        $("#modal_body").empty()
        $("#modal_body").load("Daftar/Register")

        $("#modal_judul").empty()
        $("#modal_judul").text("Daftar")

        $("#my_modal").modal("show")
        // $(".modal-dialog").addClass("modal-xl")
        // $(".modal-dialog").removeClass("modal-xl")
    })

    $("#btn_lupaPassword").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("Daftar/LupaPassword")

        $("#modal_judul").empty()
        $("#modal_judul").text("Lupa Password")

        $("#my_modal").modal("show")
        // $(".modal-dialog").addClass("modal-xl")
        // $(".modal-dialog").removeClass("modal-xl")
    })



</script>