﻿@using xpos334.viewmodels;


@model VMTblCustomer
@{
    ViewData["Title"] = "Create Customer";
}
<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">@ViewData["Title"]</div>

        <form asp-action="Create" method="post" id="form_input">
            <div class="mb-4 row">
                <label for="NameCustomer" class="col-sm-4 col-form-label">Name Customer</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameCustomer" name="NameCustomer" value="@Model.NameCustomer">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="IdRole" class="col-sm-4 col-form-label">Name Role</label>
                <div class="col-sm-8">
                    @Html.DropDownList("IdRole",
                    new SelectList(ViewBag.ListRole, "Id", "RoleName"),
                    "--Pilih Role--",
                    new {@class = "form-control"}
                    )
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Email" class="col-sm-4 col-form-label">E-Mail</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email" placeholder="alamatEmail@mail.com">
                    <span id="validate_Email" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Password" class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Password" name="Password" value="@Model.Password" placeholder="Password">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Address" class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address" placeholder="Jl.-- RT/RW kel.-- kab/kota.-- prov.--">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Phone" class="col-sm-4 col-form-label">Phone</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Phone" name="Phone" value="@Model.Phone" placeholder="081234567890">
                </div>
            </div>

            <div class="mb-4 row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="Customer" asp-action="Index">Cancel</a>
                </div>
            </div>
        </form>


    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            NameCustomer: {
                required: true,
                minlength: 3,
            },
            Email: "required",
            Password: {
                required: true,
                minlength: 3,
            },
            IdRole: "required",
            Address: "required",
            Phone: "required"
        },
        messages: {
            NameCustomer: {
                required: "Please fill Name Customer",
                minlength: "At least 3 Character",
            },
            Email: "Please fill active Email",
            Password: {
                required: "Please fill Password",
                minlength: "At least 3 Character",
            },
            IdRole: "Please select Role",
            Address: "Please fill Address",
            Phone: "Please fill active phone number"
        },
        submitHandler: function (form) {

            var dataForm = $(form).serialize();
            var email = $("#Email").val()
            var id = 0

            $.ajax({
                url: "/Customer/CheckEmailIsExist",
                type: "get",
                //method:"get", --> bisa begini juga
                data: { email: email, id: id },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validate_Email").text("Email Customer is already exist")
                        return true;
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }
            })
        }
    })

    function fungsiSubmit(dataParam) {
        $.ajax({
            url: "/Customer/Create",
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $("#my_modal").modal("hide")

                    toastr.success(
                        data.message,
                        '',
                        {
                            timeOut: 500,
                            fadeOut: 500,
                            onHidden: function () {
                                window.location.reload()
                            }
                        }
                    )
                }
                else {
                    toastr.errorClass(data.message)
                }

            }
        })
    }
            // tambahkan script jquery validate di layout, src ada di lib
</script>
